* {
  box-sizing: border-box;
}

body {
  background-color: #bdc3c7;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #c6ccd1;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

.row {
  display: -webkit-flex;
  display: flex;
  height: 95vh;
}

.column {
  outline: black solid 1px;
  padding: 10px;
}

.column.side {
  max-width: 200px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: center;
}

.toolbox-row {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.toolbox-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

canvas {
  outline: black solid 1px;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .column.side {
    max-width: 100%;
  }
}